# ignore filenames starting with underscore except when ending with __.py
_*
!*__.py

# dev files and folders
venv
.env
dataset
.ipynb_checkpoints
*.pt
.R*

# Misc
/Deep Learning/Dog Breed Classifier/model
/Deep Learning/Face Recognition/face_codes.dict