{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block scripts %}
  {% with text = get_flashed_messages() %}
    {% if text %}
     <script type="text/javascript" charset="utf-8">
       window.alert("{{text[0]}}")
     </script>
    {% endif %}
  {% endwith %}
{% endblock %}
{% block body %}
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-4">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">FileMessenger</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">File Sharing app</p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <form action = "{{ url_for('homepage') }}" method = "post" class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2 mx-auto">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-gray-600">Create an ID for yourself</label>
              <input type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <input type="submit" value="Connect" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
          </div>
        </form>
      </div>
    </div>
  </section>
  {% endblock %}